<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<handlers>
<remove name="Python27_via_FastCGI" />
<remove name="Python34_via_FastCGI" />
<add name="Python FastCGI"
	   path="*"
	   verb="*"
	   modules="FastCgiModule"
	   scriptProcessor="D:\Python\python.exe|D:\Python\Lib\site-packages\wfastcgi.py"
	   resourceType="Unspecified"
	   requireAccess="Script" />
</handlers>
</system.webServer>
<appSettings>
<!-- Required settings -->
<add key="WSGI_HANDLER" value="run.app" />
<add key="PYTHONPATH" value="D:\Web_apps\utm_builder" />
</appSettings>
</configuration>