{% extends "base.html" %}

{% block title %}Campaigns Overview{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/campaign_result.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
{% endblock %}

{% block content %}
<div class="campaign-tabs-wrapper">
  <h1>Campaigns Overview</h1>
  <div class="campaign-tabs-statistics">
    <div class="campaign-tabs">
      <ul>
        {% for campaign in campaign_list %}
        <li class="campaign-tab" data-campaign-id="{{ campaign.campaign_id }}">
          {{ campaign.campaign_name }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="date-filters-container">

      <div class="date-filters">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="start-date">
        <label for="end-date">End Date:</label>
        <input type="date" id="end-date" name="end-date">
        <button id="apply-date-filter" class="filter-btn">Apply</button>
      </div>

      <div style="height: 300px; width: 100%;">
        <canvas id="graph-container"></canvas>
      </div>
      <div class="campaign-contents">
        <div id="campaign-content" class="campaign-content-container">
          <!-- Campaign data will be displayed here -->
        </div>

      </div>
      <div id="pagination-controls" class="pagination-controls">
          <!-- Pagination buttons will be added here dynamically -->
        </div>

    </div>
  </div>
</div>


<script src="static/js/campaign_overview.js"></script>
{% endblock %}