{% extends "base.html" %}

{% block title %}Exclude Options{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/options_management.css') }}">
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Exclude Options</h1>
    <form method="POST" class="form-section">
            <div class="form-group full-width">
                <label for="exclude_urls">URL</label>
                <select id="exclude_urls" name="exclude_urls[]" multiple>
                    {% for url in unique_urls %}
                        <option value="{{ url }}">{{ url }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group half-width">
                <label for="exclude_campaign_sources">Sources</label>
                <select id="exclude_campaign_sources" name="exclude_campaign_sources[]" multiple>
                    {% for source in unique_campaign_sources %}
                        <option value="{{ source }}">{{ source }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group half-width">
                <label for="exclude_campaign_mediums">Mediums</label>
                <select id="exclude_campaign_mediums" name="exclude_campaign_mediums[]" multiple>
                    {% for medium in unique_campaign_mediums %}
                        <option value="{{ medium }}">{{ medium }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group half-width">
                <label for="exclude_campaign_contents">Contents</label>
                <select id="exclude_campaign_contents" name="exclude_campaign_contents[]" multiple>
                    {% for content in unique_campaign_contents %}
                        <option value="{{ content }}">{{ content }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group half-width">
                <label for="exclude_campaign_names">Names</label>
                <select id="exclude_campaign_names" name="exclude_campaign_names[]" multiple>
                    {% for name in unique_campaign_names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="exclude-button-container">
                <button class="update-exclusions" type="submit">Update Exclusions</button>
            </div>
        </form>
</div>
{% endblock %}
